@font-face {
    font-family: ArchivoBlack-Regular;
    src: local(ArchivoBlack-Regular), url(../fonts/ArchivoBlack-Regular.ttf);
 }

 @media screen and (min-width: 768px) { /*768 ou mais*/
    .card{
        margin-right: 1.2rem;
    }

    #cardsSection{
        margin: 0;
    }

    #profissionalSection{
        border-right: solid #FFFFFF 1px;
    }
 }

 @media screen and (max-width: 576px) {  /*576px ou menos*/
    .title{
        font-size: 20px;
        display: block;
    }

    .linkMenu{
        font-size: 0.5em;
    }

    body{
        background-color: #000;
    }

    .resumeBio i{
        font-size: 1.3em;
    }

    .sizeText{
        font-size: 0.9em;
    }

    .contact{
        height: 225vw;
    }
    
 }

 @media screen and (min-width: 577px) {  /*577 ou mais*/
    .title{
        font-size: 2.5rem;
        display: block;
    }

    .contact{
        height: auto;
    }

    .resumeBio{
        padding: 4px;
    }
 }

 @media screen and (max-width: 700px) {  /*700 ou menos*/
    .iconMobile{
        font-size: 2em;
    }
 }

 @media screen and (min-width: 700px) {  /*700 ou mais*/
    .iconMobile{
        font-size: 3em;
    }
 }

 @media screen and (max-width: 991px) { /*991 ou menos*/
    .hideMobile{
        display: none;
    }

    header{
        margin:0;
        padding: 0;
    }

    .headerMobile{
        height: 5vh;
        background-color: #000;
        margin-bottom: 0px;
        position: fixed;    
        width: 100%;
        z-index: 2;
        padding: 5px;
    }

    .headerMobile ul{
        list-style-type: none;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-around;
    }

    .headerMobile ul li{
        color: white;
    }

    .headerMobile ul li:hover{
        color:aqua;
    }

    ul{
        margin: 0;
        padding: 0;
    }

    #spaceBetweenMobile{
        height: 4.5vh;
    }

    #personalSection{
        margin-top: 10vh;
    }

    footer{
        display: block;
    }
 }

 @media screen and (min-width: 992px) { /*992 ou mais*/
    .spaceTop{
        margin-top: 2em;
    }

    .headerMobile{
        display: none;
    }

    #spaceBetweenMobile{
        display: none;
    }

    .resumeBio{
        padding: 2px;
    }
 }


h1, h2, h3{
    font-family: ArchivoBlack-Regular, 'Times New Roman', 'sans-serif';
}

/* Section 1 - Bio */

.resumeBio{
    text-align: center;
    background-color: #000000;
    color: white;
    height: 50vw;
    display: flex;
    justify-content: space-around;
    background: url("../img/blur-7.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#myPhotos{
    background: url("../img/me-photo-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 50%;
    gap: 1;
}

#myPhotos:hover{
    background: url("../img/me-photo-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 50%;
    gap: 1;
}

#myInfos{
    gap: 1;
    height: auto;
    width: 50%;
    text-align: left;
    padding: 5vw;
    position: relative;
}

/* Section 2 - Projects */

.myProjects{
    text-align: center;
    background-color: #FFFFFF;
    color: black;
    padding: 20px;
}

.card a{
    color: black;
}

#cardsSection{
    margin: 1.1rem;
}

.card{
    margin-bottom: 2rem;
    padding: 0px;
}

/* Section 3 - Contact */

.contact{
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 40px;
}

#profissionalSection{
    height: auto;
    /*gap: 1;*/
} 

#personalSection{
    height: auto;
    /*gap: 1;*/
}

.textContact{
    font-size: 1.2rem;
}

.textContact:hover{
    color:aqua;
}

.contact a{
    color: white;
}

.contact .row{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#division{
    width: 1px;
    background-color: #FFFFFF;
}

/* Section 4 - Footer */

footer{
    background-color: #1f1f1f;
    padding: 30px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#btnVoltarAoTopo{
    background-color: #1f1f1f;
    color: #FFFFFF;
    border: none;
}

#btnVoltarAoTopo:hover{
    color:aqua;
}

/* Elements */

a{
    text-decoration: none;
}

.title2{
    font-size: 2.5rem;
    display: block;
    /*position: absolute;*/
}

.navMain{
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.navMain li{
    color: white;
    margin-right: 10px;
}

.navMain li:hover{
    color:aqua;
}

nav{
    position: absolute;
    bottom: 0;
    right: 2vw;
}

.animationIcons{
    --fa-animation-duration: 1s;
    --fa-animation-iteration-count: 1;
}

.link{
    font-size: 1.3rem;
}

.link:hover{
    color:aqua;
}

.fa-brands:hover{
    color:aqua;
}

.circleInfo{
    border: solid #1f1f1f 1px;
    font-size: 15px;
    background-color: #1f1f1f;
    color: #FFF;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.circleInfo:hover{
    background-color: #4e4e4e;
    border: solid #4e4e4e 1px;
    color: #FFF;
}